/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.date-time-field input {
    @apply input p-2 !important;
}

/* infowindow */
.gm-style-iw {
    padding: 12px !important;
}

.gm-style-iw-d {
    overflow: auto !important;
}

/* infowindow close button */
button.gm-ui-hover-effect {
    right: 0px !important;

    span {
        width: 20px !important;
        height: 20px !important;
    }
}